/*该样式文件可以被所有模块的列表页面所复用*/

/*0.统一设置一些样式*/
/*统一设置页面上的字体*/
body {
	font-family:"微软雅黑","文泉驿正黑","黑体";
}
/*统一去掉所有元素的默认边距,*星是通用选择器，可以选中一切元素。*/
* {
	padding: 0;
	margin: 0;
}

/*1.对页面进行布局设置：包括边框、宽高、边距。*/
div {
	border: 1px solid #F00;
	margin: 0 auto;
}
.logo {
	width: 960px;
	height: 61px;
}
.nav {
	height: 91px;
}
.core {
	height: 410px;
	/*顶部预留出放渐变条的空间*/
	padding-top: 10px;
}
.copy {
	width: 960px;
	height: 50px;
}
.content {
	width: 950px;
	height: 390px;
	border: 5px solid #8ac1db;																																																																												
}
.content div {
	width: 910px;
	height: 40px;
}
/*选择器有优先级，id>class>元素，
  而派生选择器的优先级是它所包含的选择器的优先级的和。*/
.content .data {
	height:310px
}

/*2.设置背景色和背景图*/
body {
	background-color:#0EA8D8;
}
.logo {
	background-image:url(../img/top_bg.png);
}
.nav {
	background-color: #0488BB;
}
.core {
	background:
		url(../img/content_bg.png)
		repeat-x top;
}
.content {
	background-color: #e8f3f8;
}

/*3.设置字体样式*/
.logo {
	text-align: right;
	line-height: 61px;
}
.logo a {
	margin-right:  40px;
	color: #FFF;
	font-size: 14px;
	text-decoration: none;
}
.logo a:hover {
	font-weight:bold;
}
.copy p {
	font-size: 14px;
	color: #FFF;
	text-align: center;
	/*border: 1px solid yellow;*/
	height: 25px;
	line-height: 25px;
}

/*4.设置数据区的表格样式*/
.data table {
	width: 100%;
	border: 1px solid #ccc;
	/*边框合并必须写在table上*/
	border-collapse: collapse;
}
.data td {
	border: 1px solid #ccc;
}
.data thead td {
	background-color: #fbedce;
	height: 40px;
}
.data tbody td {
	background-color: #FFF;
	height: 32px;
}
.data td {
	font-size: 14px;
	text-align: center;
}
.data thead td {
	font-weight: bold;
}
.data tbody td:hover {
	background-color: #f7f9fd;
	
}
.update {
	padding-left: 15px;
	background: url(../img/modification.png) no-repeat left;
	border: 0;
}
.update:hover {
	/*鼠标显示为手型*/
	cursor: pointer;
}
.delete {
	padding-left: 15px;
	background: url(../img/delete.png) no-repeat left;
}
.delete:hover {
	cursor: pointer;
}
/*5.定位Logo图片和消息提示框*/
.logo img {
	float: left;
}
.content {
	position: relative;
}
.content .message {
	position: absolute;
	left: 200px;
	top: 100px;
	width: 450px;
	height: 100px;
}
.message img {
	float: right;
	margin: 5px;
}
.message p {
	margin-left: 38px;
	line-height: 80px;
}
.content .message {
	border: 1px solid #F68A8A;
	background: #FDECEC url(../img/ok.png) no-repeat 10px 32px;
}
.message img:hover {
	cursor: pointer;
}
/*6.设置导航栏图标的样式*/
.nav ul {
	width: 960px;
	height: 91px;
	margin: 0 auto;
	list-style-type: none;
	border: 1px solid yellow;
}
.nav li {
	width: 68px;
	height: 77px;
	margin: 7px 14px;
	border: 1px solid red;
	float: left;
}
.index {
	background-image: url(../img/index_out.png);
}
.index:hover {
	background-image: url(../img/index_on.png);
}
.role {
	background-image: url(../img/role_out.png);
}
.role:hover {
	background-image: url(../img/role_on.png);
}
.admin {
	background-image: url(../img/admin_out.png);
}
.admin:hover {
	background-image: url(../img/admin_on.png);
}
.fee {
	background-image: url(../img/fee_out.png);
}
.fee:hover {
	background-image: url(../img/fee_on.png);
}
.account {
	background-image: url(../img/account_out.png);
}
.account:hover {
	background-image: url(../img/account_on.png);
}
.service {
	background-image: url(../img/service_out.png);
}
.service:hover {
	background-image: url(../img/service_on.png);
}
.bill {
	background-image: url(../img/bill_out.png);
}
.bill:hover {
	background-image: url(../img/bill_on.png);
}
.report {
	background-image: url(../img/report_out.png);
}
.report:hover {
	background-image: url(../img/report_on.png);
}
.information {
	background-image: url(../img/information_out.png);
}
.information:hover {
	background-image: url(../img/information_on.png);
}
.password {
	background-image: url(../img/password_out.png);
}
.password:hover {
	background-image: url(../img/password_on.png);
}
/*收尾：去掉调试时加的边框*/
.nav ul, .nav li, div {
	border: 0;
}