<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue 条件语句</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app2">
    <p v-if="seen">现在你看到我了</p>
    <template v-if="ok">
        <h1>if测试</h1>
        <p>哈哈哈！！！</p>
    </template>

    <div v-if="type === 'A'">
        is A
    </div>
    <div v-else-if="type === 'B'">
        is B
    </div>
    <div v-else-if="type === 'C'">
        is C
    </div>
    <div v-else>
        Not A/B/C
    </div>
</div>

<div id="app1">
    <div v-if="Math.random() > 0.5">
        Math.random() > 0.5 --> Yes
    </div>
    <div v-else>
        Math.random() > 0.5 --> NO
    </div>
</div>

<div id="app">
    <h1 v-show="ok">Hello!</h1>
</div>


</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ok: true
        }
    })
</script>

<script>
    new Vue({
        el: '#app2',
        data: {
            type: 'D',
            seen: true,
            ok: true
        }
    })
</script>
</body>

</html>